/* main.css */

html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
}

h1 {
	color: #561f22;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 32px;
	font-weight: 600;
	margin: 0px 25px 0 25px;
	text-align: left;
}

h2 {
	color: #561f22;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin: 5px 25px 25px 25px;
	text-align: left;	
}

header {
	background-color: #a49a95;
	border: 0;
	height: 400px;
	background: url(images/background/forrest.png);
}

a {
	color: #561f22;
}

#mountain {
	background-size: cover;
	border: 0;
	height: auto;
	width: 100%;
	background: url(images/background/mnt.png);
}


#tiles {
	background-color: #839e89;
}

#tabletiles {
	background-color: #839e89;
	margin: 0 auto;
	padding: 5px;
}

.container {
	position: relative;
	width: 100%;
}


#az01, #az02, #py {
	display: block;
	width: auto;
	height: 350px;
}

#py {
	background-color: #ffffff;
}


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .8s ease;
	background-color: #dfc797;
}

.container:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}



