/* main.css */

/* CSS for entire doc - This is where the big decisions get made */

/* ----- Imports ----- */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/* Reseting all styling */
html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
}
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	background: #f1f1f1;
}

/* Establish styling for entire document */
h1 {
	color: #ffffff;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 45px;
	font-weight: 300;
	margin: 5px 25px;
	text-align: left;
}

h2 {
	color: #ffffff;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 26px;
	font-weight: 100;
	margin: 0 25px;
	text-align: left;	
}

h3 {
	color: #888888;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 100;
	margin: 5px 30px;
	text-align: left;	
}

h4 {
	color: #888888;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 100;
	margin: 5px 30px;
	text-align: left;
}

p {
	color: #555555;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	text-align: left;
	padding: 0;
}

a {
	text-decoration: none;
	color: #a9f0de;
}

a:hover {
	color: #21cbc8;
}

/* ----- Formatting Header ------ */
.header h1, .header h2, .header h3 {
	max-width: 80%;
	margin: 5px 15px;
}

.top {
	background-color: #555555;
	border: 0;
	height: auto;
	width: 100%;
}

.bottom {
	border: 0;
	height: auto;
	margin: 5px auto;
	border-bottom: 2px solid black;	
}

.nav a, p a, .mainaboutme a {
	color: #888888;
}

.nav a:hover, .mainaboutme a:hover {
	color: #21cbc8;
}

.nav a {
	display: inline;
	padding: 0 25px 0 0;
}

.box {
	width: 80%;
	margin: 5px auto;
}
/* ----- End Header Styling-----*/

/* ----- Formatting Body & Text ---- */
.tagline {
	max-width: 80%;
	margin: 0 auto;
	padding: 15px 15px;
}

.aboutmetext p {
	font-size: 18px;
}

.aboutmetext, .aboutaztext {
	max-width: 80%;
	margin: 0 auto;
	padding: 15px 15px;
	border-bottom: 2px solid black;
}

.aboutaztext ul {
	list-style: none;
}

.pcbuildsrow h2, .pcbuildsrow h3, .pcbuildsrow p, .pcbuildsrow ul {
	color: #777777;
	padding: 10px;
	list-style: none;
}

.pcbuildsrow ul {
	margin-left: 20px;
}

.aboutmetext h2, .aboutaztext h2 {
	color: #777777;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
}

/* ----- Creating two columns for pcbuilds page ----- */

/*main for pcbuilds*/
.pcbuildsrow {
	background-color: #f15d22;
}

/*Left Column*/
.pcbuildsleftcolumn {
	float: left;
	width: 75%;
	padding-bottom: 25px;
	background-color: #fff;
}

/*Right Column*/
.pcbuildsrightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
	background-color: #fff;
}

.pcbuildsimg {
	background-color: #444444;
	background-repeat: no-repeat;
	background-size: initial;
	background-position: 50% 50%;
	width: 100%;
	padding: 20px;
}


/*Add style to sections of pcbuilds*/
.pcbuildscard {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.pcbuildscard a, .pcbuildscard p, .pcbuildscard h3 {
	font-size: 16px;
	text-align: center;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Image grids formatting */
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	width: 80%;
	margin: 0 auto;
}

.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 1px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 5px;
}

/* Styling for images outside of grids */
.aboutmecontainer {
	
	float: right;
	height: 756px;
	margin-left: 15px;
	width: 567px;
}

.aboutazcontainer {
	float: right;
	height: 400px;
	margin-left: 5px;
	width: 500px;
}

.aboutmecontainer img, .aboutazcontainer img {
	width: 100%;
	height: auto;
}

/* Styling for hover effects on index.html */
.container {
	position: relative;
	width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #555555;
}

.gray {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .8s ease;
	transition: .8s ease;
}

.container:hover .overlay, .container:active .overlay {
	opacity: 1;
}

.color:hover .gray {
	filter: grayscale(10%);
}

.text {
	color: #ffffff;
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

/* ----- End Main Body ----- */
/* ----- Footer ----- */

.footer-social-icons {
	background-color: #888888;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.sibackground {
	text-align: center;
}

.social-icon {
	color: #2d2d2d;
}

.footer-social-icons h3, .footer-social-icons p, #email {
	color: #fff;
	padding: 1%;
	text-align: center;
}

.social-icons li {
	vertical-align: top;
	display: inline;
	margin: .25%;
}

.social-icons a {
	color: #2d2d2d;
	text-decoration: none;
}

.fa-facebook {
    padding: .5% .75%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d2d2d2;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding: .5% .75%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d2d2d2;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-git {
    padding: .5% .75%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d2d2d2;
}
.fa-git:hover {
    background-color: #eb8231;
}

.fa-instagram {
    padding: .5% .75%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d2d2d2;
}
.fa-instagram:hover {
    background-color: #fb3958;
}

.fa-linkedin {
    padding: .5% .75%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d2d2d2;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-google {
    padding: .5% .75%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d2d2d2;
}
.fa-google:hover {
    background-color: #e25714;
}

/* ----- Responsive Design Styling ----- */
@media screen and (max-width: 1440px) {
	/* Reduce padding for smaller window */
		.row {
		padding: 0 5px !important;
	}
}

/* mobile mode, two columns */
@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
	.row {
		padding: 0 10px !important;
	}

	.nav a {
		display: block;
		padding: 0 0 5px 0;
	}

	.aboutmecontainer, .aboutazcontainer {
		float: none !important;
		display: block !important;
		height: auto !important;
		max-width: 350px !important;
		margin: 15px auto !important;
	}

	.aboutmetext, .aboutaztext {
		max-width: 90% !important;
		margin: 0 auto !important;
		padding: 10px 5px !important;
		border-bottom: 2px solid black !important;
	}

	.pcbuildsleftcolumn, .pcbuildsrightcolumn {
		width: 100%;
		padding: 0;
	}

	h1 {
		font-size: 32px !important;
	}

	h2 {
		font-size: 24px !important;
	}

	h3 {
		font-size: 20px !important;
	}

	p {
		font-size: 16px !important;
	}

}

/* mobile mode, one column */
@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
		padding: 0 1px !important;
	}
	.row {
		padding: 0 10px !important;
	}
	.nav a {
		display: block;
		padding: 0 0 5px 0;
	}
	.aboutmecontainer, .aboutazcontainer  {
		float: none !important;
		display: block !important;
		height: auto !important;
		max-width: 250px !important;
		margin: 15px auto !important;
	}
	.aboutmetext, .aboutaztext {
		max-width: 90% !important;
		margin: 0 auto !important;
		padding: 10px 5px !important;
		border-bottom: 2px solid black !important;
	}

	.pcbuildsleftcolumn, .pcbuildsrightcolumn {
		width: 100%;
		padding: 0;
	}

	h1 {
		font-size: 32px !important;
	}

	h2 {
		font-size: 24px !important;
	}

	h3 {
		font-size: 20px !important;
	}

	p {
		font-size: 16px !important;
	}
}

/* Mobile mode, small screens */
@media screen and (max-width: 450px) {
	.column {
		flex: 100%;
		max-width: 100%;
		padding: 0 1px !important;
	}
	.row {
		padding: 0 10px !important;
	}
	.nav a {
		display: block;
		padding:0 0 5px 0;
	}
	.aboutmecontainer, .aboutazcontainer {
		float: none !important;
		display: block !important;
		height: auto !important;
		max-width: 125px !important;
		margin: 15px auto !important;
	}
	.aboutmetext, .aboutaztext {
		max-width: 90% !important;
		margin: 0 auto !important;
		padding: 10px 5px !important;
		border-bottom: 2px solid black !important;
	}

	.pcbuildsleftcolumn, .pcbuildsrightcolumn {
		width: 100%;
		padding: 0;
	}

	h1 {
		font-size: 32px !important;
	}

	h2 {
		font-size: 24px !important;
	}

	h3 {
		font-size: 20px !important;
	}

	p {
		font-size: 16px !important;
	}
}

@media screen and (max-width: 320px) {
	.column {
		flex: 100%;
		max-width: 100%;
		padding: 0 1px !important;
	}
	.row {
		padding: 0 10px !important;
	}
	.nav a {
		display: block;
		padding: 0 0 5px 0;
	}
	.aboutmecontainer, .aboutazcontainer  {
		float: none !important;
		display: block !important;
		height: auto !important;
		width: 100px !important;
		margin: 15px auto !important;
	}
	.aboutmetext, .aboutaztext {
		max-width: 90% !important;
		margin: 0 auto !important;
		padding: 10px 5px !important;
		border-bottom: 2px solid black !important;
	}

	.pcbuildsleftcolumn, .pcbuildsrightcolumn {
		width: 100%;
		padding: 0;
	}

	h1 {
		font-size: 24px !important;
	}

	h2 {
		font-size: 20px !important;
	}

	h3 {
		font-size: 18px !important;
	}

	p {
		font-size: 14px !important;
	}
}




